@model List<Agent>
<div class="container">
    <div class="card-header py-3 d-flex justify-content-between align-items-center">
        <h6 class="m-0 font-weight-bold text-primary">Agent List</h6>
        <a asp-action="Create" asp-controller="Agent" class="btn btn-outline-primary">Create</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Image</th>
                <th scope="col">Full Name</th>
                <th scope="col">Designation</th>
                <th scope="col">Created Time</th>
                <th colspan="3" scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <th><img width="50" src="~/imgs/agent/@item.ImageUrl" /></th>
                    <td>@item.FullName</td>
                    <td>@item.Designation?.Name</td>
                    <td>@item.CreatedTime</td>
                    <td>
                        <a asp-controller="Agent" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                        <a asp-controller="Agent" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        @if (item.IsDeleted)
                        {

                            <a asp-controller="Agent" asp-action="Show" asp-route-id="@item.Id" class="btn btn-success">Show</a>
                        }
                        else
                        {
                            <a asp-controller="Agent" asp-action="Hide" asp-route-id="@item.Id" class="btn btn-secondary">Hide</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
